@model Producer
@{
	ViewData["Title"] = "Details for Producer";
}
<div class="col-md-8 offset-2">
	<div class="row text-center">
		<h1>
			<p>
				Details For @Html.DisplayFor(a=>a.FullName)
			</p>
		</h1>
	</div>
	<div class="row text">

		<div class="form-group">
			<img class="rounded-circle" id="ProfilePicPreview" src="@Model.ProfilePictureURL" />
		</div>
		<div class="form-group">
			<label class="form-label" asp-for="ProfilePictureURL"></label>
			<input type="text" id="ProfilePicURL" class="form-control" value="@Html.DisplayFor(a=>a.ProfilePictureURL)" readonly="readonly" />
		</div>
		<div class="form-group">
			<label class="form-label" asp-for="FullName"></label>
			<input type="text" id="ProfilePicURL" class="form-control" value="@Html.DisplayFor(a=>a.FullName)" readonly="readonly" />
		</div>
		<div class="form-group">
			<label class="form-label" asp-for="Bio"></label>
			<input type="text" id="ProfilePicURL" class="form-control" value="@Html.DisplayFor(a=>a.Bio)" readonly="readonly" />
		</div>
		<div class="form-group">
			<a class=" btn btn-outline-success" asp-controller="Producers" asp-action="Index"><i class="bi bi-person "></i>Show All</a>
			<a asp-controller="Producers" asp-action="Create" asp-route-Id="@Model.Id" class="float-right btn btn-outline-success"><i class="bi bi-pencil-square"></i>Edit</a>
		</div>

	</div>
</div>